<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>YCSA</title>
    <link rel="icon" href="../static/img/favicon.png" type="image/x-icon" sizes="16x16">
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="../static/css/mdb.min.css" />
    
  </head>
  <body>
    <div class= 'd-flex justify-content-center align-items-center bg-image' style="background-image: url('https://c.tenor.com/uZc5z7DXp_IAAAAC/tom-and-jerry-thanks.gif'); height: 100vh;">
      <div class="container-fluid">
        
      <h3 class="text-center text-white"> &#x1f60d 유튜브 댓글 감성분석 게임 &#x1f60d</h3>
        <div class="col"><p></p></div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/main" type="button" class="btn btn-lg btn-outline-danger btn-rounded btn-info active" data-mdb-ripple-color="red" role="button" aria-pressed="true">Game Start!</a>
          </div>
      </div>
      </div>
    </div>
    
    
    
    <!-- MDB -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
    <!-- Kakao Adfit scripts -->
    <ins class="kakao_ad_area" style="display:none;" 
     data-ad-unit    = "DAN-H3gSNmtj9HqiwzdU" 
     data-ad-width   = "728" 
     data-ad-height  = "90"></ins> 
     <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

  </body>
</html>
